/*------------------------------------*\
    COLORS
\*------------------------------------*/
// PRIMARY
$green: #00A770;
$gray: #5C6670;
// SECONDARY
$lightgreen: #2CB56F;
$lightergreen: #00C262;
$lightestgreen: #00D362;
$lightgray: #C4CED8;
$blue: #89DDD3;

@mixin transition($transition...) {
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@import url("https://use.typekit.net/eut2ona.css");
/*------------------------------------*\
    font-family: "adelle-sans",sans-serif;
    font-family: "quatro",sans-serif;
\*------------------------------------*/

body{
	font-family: "adelle-sans",sans-serif;
}

h1{
	font-family: "quatro",sans-serif;
	font-weight: 600;
	font-size: 60px;
	line-height: 64px;
	margin: 0px;
}
h2{
	font-family: "quatro",sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 44px;
}
h3{
	font-family: "quatro",sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
}
h4{
	font-family: "quatro",sans-serif;
	font-weight: 600;
	font-size: 1.4em;
}
p{
	font-family: "adelle-sans",sans-serif;
	font-weight: 400;
	font-size: 21px;
	line-height: 28px;
	color: $gray;
}
p.two{
	font-family: "adelle-sans",sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: $gray;
}
p.three{
	font-family: "adelle-sans",sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: $gray;
}
p.four{
	font-family: "adelle-sans",sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: $gray;
}
a{
	color: $gray;
	border-bottom: $lightestgreen;
	font-weight: 400;
	h1, h2, h3, h4, h5, h6, p, li{
		a{
			color: $gray;
			border-bottom: $lightestgreen;
		}
	}
}
p a{
	font-weight: 600;
	color: $gray;
	display: inline-block;
	position: relative;
	z-index: 1;
	&:after {
	    display: block;
	    position: absolute;
	    border-bottom: solid 3px $lightestgreen;
	    content: '';
	    bottom: -1px;
	    width: 100%;
	    z-index: -1;
	    -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
	}
	&:hover{
		color: $gray;
		&:after {
		    display: block;
		    position: absolute;
		    border-bottom: solid 14px $lightestgreen;
		    content: '';
		    bottom: -4px;
		    width: 100%;
		}
	}
}
a.icon{
	background-color: $green;
	border-radius: 100%;
	padding: 5px;
}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/
.header{
	background-color: $gray;
	padding: 10px 40px;
	.logo{
		display: inline-block;
	    vertical-align: middle;
		.logo-img {
		    height: 80px;
		    width: 140px;
		}
	}
	.rightnav{
		display: inline-block;
	    vertical-align: middle;
		width: 85%;
		width: calc(100% - 143px);
		padding-left: 40px;
		.header-menu{
			vertical-align: middle;
			text-align: right;
			a#trigger-overlay{
				margin-right: 40px;
				list-style: none;
				font-family: "quatro",sans-serif;
				font-weight: 600;
				font-size: 16px;
				line-height: 18px;
				display: inline-block;
				color: $lightgray;
				display: inline-block;
				position: relative;
				z-index: 1;
				cursor: pointer;
				&:hover{
					&:after {
					    display: block;
					    position: absolute;
					    border-bottom: solid 10px $blue;
					    content: '';
					    bottom: -20px;
					    width: 100%;
					}
				}
			}
			a.social{
				display: inline-block;
				background-color: $green;
				color: white;
				margin: 0px 10px;
				border-radius: 100%;
				padding: 5px;
				text-align: center;
				width: 30px;
				height: 30px;
				//line-height: 30px;
				svg{
					vertical-align: middle;
				}
			}
		}
	}
}
.overlay{
	background: $lightgray;
	.overlay-topbar{
		background-color: $gray;
		padding: 10px 40px;
		.logo{
			display: inline-block;
		    vertical-align: middle;
			.logo-img {
			    height: 80px;
			    width: 140px;
			}
		}
		.overlay-close{
			right: 40px;
			top: 10px;
		}
	}
	.nav{
		ul{
			li{
				display: block;
			    height: 20%;
			    height: calc(100% / 5);
			    min-height: 54px;
		        float: left;
	            clear: both;
	            &.submenuopen{
		            height: auto;
	            }
			    a{
				    color: $gray;
				    position: relative;
				    display: inline-block;
			        margin-bottom: 30px;
					&:hover{
						&:after {
						    display: block;
						    position: absolute;
						    border-bottom: solid 10px $lightestgreen;
						    content: '';
						    bottom: -10px;
						    width: 100%;
						}
					}
			    }
				ul.sub-menu {
					clear: both;
				    overflow: auto;
					li{
						font-size: 34px;
						margin-bottom: 10px;
						a{
							color: $gray;
							position: relative;
							display: inline-block;
							&:hover{
								&:after {
								    display: block;
								    position: absolute;
								    border-bottom: solid 10px $blue;
								    content: '';
								    bottom: -10px;
								    width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
